  <ul class="nav nav-pills">

    <li class="" ng-if="1 == 0"><a href="#wc" data-toggle="tab">Center Pieces</a></li>
    <li class="" ng-if="1 == 0" data-toggle="tab">Aligning Edge Pieces</a></li>
    <li class="" ng-if="1 == 0"><a href="#wc" data-toggle="tab">Visualization</a></li>
    <li class="" ng-if="1 == 0"><a href="#wc" data-toggle="tab">Parity Cases</a></li>
    <li class="active"><a ng-show="url.indexOf('3X')>0" href="#wc" data-toggle="tab">White Cross</a></li>
    <li class=""><a ng-show="url.indexOf('3X')>0 || url.indexOf('2X')>0" href="#wl" data-toggle="tab">White Layer</a></li>

    <li class=""><a ng-show="url.indexOf('3X')>0 " href="#sl" data-toggle="tab">Second Layer</a></li>

    <li class=""><a ng-show="url.indexOf('3X')>0 || url.indexOf('2X')>0" href="#tf" data-toggle="tab">Top Face</a></li>

    <li class=""><a ng-show="url.indexOf('3X')>0 || url.indexOf('2X')>0" href="#sc" data-toggle="tab">Setting Corner of Top Layer</a></li>

    <li class=""><a ng-show="url.indexOf('3X')>0" href="#se" data-toggle="tab">Setting Edges of Top Layer</a></li>


  </ul>



  
